<div class="p-4">
  <div>
    <a routerLink="/" class="btn btn-outline lg:w-52">Back</a>
  </div>
  <div>
    <h1 class="text-2xl font-bold my-6">Simple Notes</h1>
    <p class="mb-3">Hi, this is an app for taking simple notes.</p>
    <p class="mb-3">
      All data is stored locally in your browser. No user data is being
      collected and no accounts are needed.
    </p>
    <p class="mb-3">The app has light and dark theme.</p>
    <p class="mb-3">Made by Mario Yordanov</p>
    <p class="mb-3">
      <a
        class="link"
        href="https://github.com/mariovyord/simple-notes"
        target="_blank"
        >https://github.com/mariovyord/simple-notes</a
      >
    </p>
  </div>
</div>
