<div class="flex gap-1">
  <button
    (click)="onSelect()"
    class="btn btn-primary flex-1 justify-start"
    [class.btn-neutral]="(selectedNoteId | async) !== note.id"
    [class.btn-accent]="(selectedNoteId | async) === note.id"
  >
    {{ note.title }}
  </button>

  @if ((selectedNoteId | async) === note.id) {
  <button
    class="tooltip tooltip-right flex justify-center items-center"
    data-tip="Delete"
    (click)="onDelete()"
    (keydown)="onSelect()"
  >
    <div>🗑</div>
  </button>
  }
</div>
