<div class="flex flex-col justify-between h-full w-full overflow-x-clip">
  <div>
    @for (note of notes; track note.id) {
    <div class="mb-2">
      <app-note-card [note]="note"></app-note-card>
    </div>
    }

    <button (click)="handleCreate()" class="btn w-full justify-start">
      Create note
    </button>
  </div>

  <div class="mt-6 flex justify-between items-center">
    <a
      routerLink="/about"
      class="hover:cursor-pointer text-3xl tooltip tooltip-right"
      data-tip="App Information"
    >
      <div>&#9432;</div>
    </a>
    <app-theme-picker></app-theme-picker>
  </div>
</div>
