@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
  font-size: 15px;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  height: auto;
  border: none;
}

.ql-container.ql-snow {
  overflow-y: auto;
  height: calc(100vh - 42px);
}
